<ion-header>
  <ion-toolbar>

    <ion-buttons id="content-menu" slot="start">
      <div id="return">
        <ion-button class="top-20" fill="clear" color="warning">Regresar</ion-button>
      </div>
      <div id="menu">
        <ion-button class="top-20" fill="clear" color="light">Menú</ion-button>
        <ion-button class="top-20" fill="clear" color="light">Invitar</ion-button>
        <ion-button class="top-20" fill="clear" color="light">Participaciones</ion-button>
      </div>
    </ion-buttons>

    <ion-buttons id="content-icon" slot="end">
      <ion-button color="light">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

      <ion-button color="light">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>

      <ion-button color="light">
        <ion-icon name="basket-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>Participación</h1>
    <p>"Ayuda a diferentes niños a mejorar su futuro y gana tu también</p>
    <p>Elige la fase deseas ayudar y ganar"</p>

    <div id="boxOne">
      <img src="../../../assets/images/camion.png">
    </div>

    <div id="boxTwo">
      <div class="container-images-one">
        <img src="../../../assets/images/participante.png">
      </div>

      <div class="container-images-two">
        <img src="../../../assets/images/dinero.png">
      </div>

      <div class="container-images-three">
        <img src="../../../assets/images/participante.png">
      </div>
    </div>

    <div class="clearfix"></div>

    <div>
      <div id="price">
        <p>Ayuda 1</p>
        <p>$225</p>
      </div>

      <div id="price">
        <p>Ayuda 2</p>
        <p>$525</p>
      </div>
    </div>
    <div class="clearfix"></div>
    <br>

    <div id="boxThree">
      <div class="container-images-one">
        <img src="../../../assets/images/participante.png">
      </div>

      <div class="container-images-two">
        <img src="../../../assets/images/participante.png">
        <img src="../../../assets/images/dinero.png">
      </div>

      <div class="container-images-three">
        <img src="../../../assets/images/participante.png">
      </div>
    </div>

    <div id="boxFour">
      <div class="container-images-one">
        <img src="../../../assets/images/participante.png">
      </div>

      <div class="container-images-two">
        <img src="../../../assets/images/participante.png">
        <img src="../../../assets/images/dinero.png">
        <img src="../../../assets/images/participante.png">
      </div>

      <div class="container-images-three">
        <img src="../../../assets/images/participante.png">
      </div>
    </div>

    <div class="clearfix"></div>

    <div>
      <div id="price">
        <p>Ayuda 3</p>
        <p>$1025</p>
      </div>

      <div id="price">
        <p>Ayuda 4</p>
        <p>$2025</p>
      </div>
    </div>
    <div class="clearfix"></div>

    <img id="indicador" src="../../../assets/images/indicador.png">

    <div id="container-information">
      <div id="social-media">
        <a href="#"><img src="../../../assets/images/twitter-icon.png"></a>
        <a href="#"><img src="../../../assets/images/facebook-icon.png"></a>
        <a href="#"><img src="../../../assets/images/instagram-icon.png"></a>
      </div>
      <div id="wehelp">
        <img src="../../../assets/images/wehelp-icon.png">
        <h2>WeHelp</h2>
        <ion-button>
          Ayuda
        </ion-button>
      </div>
    </div>
  </div>
  
</ion-content>