<ion-content>
  <div id="content">

    <div id="content-image">
      <img id="user" src="../../../assets/images/avatar-usuario.png">
    </div>

    <div>
      <h2>Registrar</h2>
      <form class="user-box">

        <div id="section">
          <ion-icon name="at" color="light"></ion-icon>
          <ion-label for="email">Email</ion-label>
        </div>
        <ion-input type="text" name="email" required=""></ion-input>

        <div id="section">
          <ion-icon name="lock-closed" color="light"></ion-icon>
          <ion-label for="pass">Password</ion-label>
        </div>
        <ion-input type="Password" name="pass" required=""></ion-input>

        <div id="section">
          <ion-icon name="person" color="light"></ion-icon>
          <ion-label for="name">Nombre</ion-label>
        </div>

        <ion-input type="text" name="name"></ion-input>

        <div id="container-button">
          <a ion-button id="button-submit" href="#">
            Enviar
          </a>
        </div>
      </form>
    </div>
  </div>

</ion-content>