<ion-header>
  <ion-toolbar>

    <ion-buttons id="content-menu" slot="start">
      <div id="return">
        <ion-button class="top-20" fill="clear" color="warning">Regresar</ion-button>
      </div>
      <div id="menu">
        <ion-button class="top-20" fill="clear" color="light">Menú</ion-button>
        <ion-button class="top-20" fill="clear" color="light">Invitar</ion-button>
        <ion-button class="top-20" fill="clear" color="light">Participaciones</ion-button>
      </div>
    </ion-buttons>

    <ion-buttons id="content-icon" slot="end">
      <ion-button color="light">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

      <ion-button color="light">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>

      <ion-button color="light">
        <ion-icon name="basket-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <h1 id="phrase">Dona o compra tu <span>MailTruck</span></h1>

    <img id="mailtruck" src="../../../assets/images/MailTruck.png">
    <div id="price">
      <p>MailTruck</p>
      <p>$225</p>
    </div>

    <div id="donate">
      <img src="../../../assets/images/indicador.png">
      <p>$0</p>
    </div>

    <div class="clearfix"></div>

    <p id="phraseTwo">Dona la cantidad de dinero que tu quieras para ayudar a muchos niños y niñas pobres con educación
    </p>

  </div>

</ion-content>