<ion-header>
  <ion-toolbar>
    <ion-toolbar>

      <ion-buttons id="content-menu" slot="start">
        <div id="help">
          <ion-button class="top-20" fill="clear" color="warning">Ayuda</ion-button>
        </div>
        <div id="menu">
          <ion-button class="top-20" fill="clear" color="light">Menú</ion-button>
          <ion-button class="top-20" fill="clear" color="light">Invitar</ion-button>
          <ion-button class="top-20" fill="clear" color="light">Participaciones</ion-button>
        </div>
      </ion-buttons>

      <ion-buttons id="content-icon" slot="end">
        <ion-button color="light">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>

        <ion-button color="light">
          <ion-icon name="person-outline"></ion-icon>
        </ion-button>

        <ion-button color="light">
          <ion-icon name="basket-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div id="container-box">
      <div id="boxOne">
        <p>$0</p>
      </div>

      <div id="boxTwo">
        <p>$0</p>
      </div>
    
      <div class="clearfix"></div>

      <h2 id="donaciones">Donaciones totales</h2>
      <h2 id="invitaciones">Invitaciones aceptadas</h2>
    </div>

    <div id="box-donate">
      <img src="../../../assets/images/donar-icon.png">
      <h1>We Help</h1>
    </div>

    <div id="donate-information">
      <h2>Donar</h2>
      <p>
        ¡Comienza a donar la cantidad que desees o adquiere tu <a>MailTruck</a> para ayudar a
        distintos niños en el mundo!
      </p>
    </div>

    <div id="box-partaker">
      <img src="../../../assets/images/participar-icon.png">
    </div>

    <div id="partaker-information">
      <h2>Participa</h2>
      <p id="participate">
        <a>Participa</a> en nuestro sistema de ayuda y gana <br>
      </p>
    </div>

    <div id="contact">
      <div id="container-information">
        <div id="social-media">
          <a href="#"><img src="../../../assets/images/twitter-icon.png"></a>
          <a href="#"><img src="../../../assets/images/facebook-icon.png"></a>
          <a href="#"><img src="../../../assets/images/instagram-icon.png"></a>
        </div>
        <p id="information"> Elige en la fase que deseas participar y comienza a ganar un <a>MailTruck</a> en tu
          primera participación Gratis</p>
      </div>
    </div>
  </div>

</ion-content>