<ion-header>
  <ion-toolbar>

    <ion-buttons id="content-menu" slot="start">
      <div id="return">
        <ion-button class="top-20" fill="clear" color="warning">Regresar</ion-button>
      </div>
      <div id="menu">
        <ion-button class="top-20" fill="clear" color="light">Menú</ion-button>
        <ion-button class="top-20" fill="clear" color="light">Invitar</ion-button>
        <ion-button class="top-20" fill="clear" color="light">Participaciones</ion-button>
      </div>
    </ion-buttons>

    <ion-buttons id="content-icon" slot="end">
      <ion-button color="light">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

      <ion-button color="light">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>

      <ion-button color="light">
        <ion-icon name="basket-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="container">

    <p id="price">$0</p>
    <p>Total de participación en Fase 1</p>

    <div id="font">
      <div>
        <img src="../../../assets/images/camion-carga.png">
      </div>
      <div>
        <p>1</p>
        <img src="../../../assets/images/combustible.png">
      </div>
      <div>
        <p>2</p>
        <img src="../../../assets/images/combustible.png">
      </div>
      <div>
        <img src="../../../assets/images/banco.png">
      </div>
    </div>

    <h1>Invita y gana</h1>
    <div id="information">
      <p>
        Logra llevar al camionsito invitando a 2 de tus familiares o amigos y recuperar tu inversión,
        $600 la primera vez, para todos te llevas un MailTruck gratis.
      </p>

      <p>
        Tienes 60 días para poder retirar el dinero.
      </p>
    </div>

    <button ion-button icon-start id="btn-invite">
      <ion-icon name="share-social-outline"></ion-icon>
      Invitar
    </button>


    <div id="section">
      <div id="wehelp">
        <img src="../../../assets/images/wehelp-icon.png">
        <p>WeHelp</p>
      </div>
      <div id="container-btnhelp">
        <button ion-button>
          Ayuda
        </button>
      </div>
    </div>
  </div>

</ion-content>